<mat-card class="card">
    <mat-card-title>{{blog?.id}}. {{blog?.title}}</mat-card-title>
        <mat-card-subtitle>Author: {{blog?.author}}</mat-card-subtitle>
        <img mat-card-image src={{blog?.img}} height = "250">
        <mat-card-content>
          <p><i>Description:</i> {{blog?.description}}</p>
          <p><i>Comments:</i> {{blog?.comments}}</p>
        </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="['form', blog?.id]" (click)="edit()" class="actionbutton editbutton" mat-button>EDIT</button>
        <button (click)="delete()" class ="actionbutton delbutton" mat-button>DELETE</button>
    </mat-card-actions>
</mat-card>