@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  max-width: 700px;
  margin: 2em auto;
  text-align: left;
  max-height: 1000px;
}

.form-group{
    display: block;
    width: 90%;
}

.button {
    background-color: #fff0f5;
    border: 1px solid black;
    border-radius: 2px;
    // position: absolute;
    padding: 5px 10px;
    cursor: pointer;
    a {
    color: fuchsia;
    display: inline-block;
    position: relative;
    &:after {
      content: "\f014";
      font-family: FontAwesome;
      margin-left: -10px;
      opacity: 0;
      vertical-align: middle;
      transition: margin .3s, opacity .3s;
    }

    &:hover:after {
      margin-left: 5px;
      opacity: 1;
    }
  }
}